
.about-container{
  grid-template-columns: 3fr 9fr;
 }

 
.about-img{
  width: 50%;

  border-radius: 100%;

}
 .about-data{
  padding: 1.875rem;
  background-color: var(--container-color);
  box-shadow: var(--shadow);
  column-gap: 1.875rem;
  align-items: flex-start;
  position: relative;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

 .about-data::before{
  content: '';
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 15px solid var(--container-color);
  border-bottom: 10px solid transparent;
  position: absolute;
  left: -0.93rem;
  top: 20%;
 }

 .about-description{
  margin-bottom: 1rem;
  text-align: justify;
 }

.about-boxes{
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.875rem;
  margin-top: 4.35rem;
}

.about-box{
  display: flex;
  column-gap: 1.5rem;
}

.about-icon{
  font-size: var(--h1-font-size);
  color: #dedeea;
}


.about-title{
  font-size: 1.874rem;
}

#about {
  padding: 13rem 0 17rem 0;
}